.coin-det {
  position: absolute;
  width: 324px;
  height: 455px;
  margin-left: 188px;
  margin-top: 762px;
  padding-left: 42px;
  padding-top: 46px;
  padding-right: 36px;
  padding-bottom: 87px;
  background: #f3f3f3;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
}
.coin-trade {
  position: relative;
  width: 324px;
  height: 455px;
  margin-left: 512px;
  margin-top: 762px;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
}

.ico-coin {
  width: 12.68px;
  height: 16px;
  margin-right: 10.32px;
  fill: #f7931a;
}
.coin-name-div {
  width: 246px;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 9px;
  margin-bottom: 15px;
}

.coin-name {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  /* or 26px */
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

.coin-prop-name {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 250%;
  /* or 32px */
  letter-spacing: 0.01em;
  text-transform: uppercase;
  white-space: nowrap;
  color: #000000;
}
.coin-span-prop {
  margin-left: 5px;
  font-style: normal;
  font-weight: normal;
}

.ico-plus {
  width: 15.6px;
  height: 15.6px;
  margin-right: 9px;
  fill: #4a90e2;

}
.add-fav {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 163.3%;
  /* identical to box height, or 20px */
  text-transform: uppercase;
  color: #4a90e2;
  margin-top: 25px;
  
}
